[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin

default-time-zone=SYSTEM
log_timestamps=SYSTEM

innodb_buffer_pool_size=512M
innodb_log_buffer_size=64M
innodb_log_file_size=1G
innodb_file_per_table=1

slow_query_log=ON
long_query_time=3.0
log_queries_not_using_indexes=1

join_buffer_size=256K
max_allowed_packet=8M
read_buffer_size=1M
read_rnd_buffer_size=2M
sort_buffer_size=4M
max_heap_table_size=16M
tmp_table_size=16M
thread_cache_size=100
wait_timeout=30

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
